/* Base colors */

$color-gray1: #101010
$color-gray2: #212121
$color-gray3: #323232
$color-gray4: #434343

$color-gray5: #cbcbcb
$color-gray6: #dcdcdc
$color-gray7: #ededed
$color-gray8: #fefefe

$color-blue: #2196f3
$color-blue-dark: #0d47a1

$color-green: #4caf50


/* Theme colors */

$color-bg: $color-gray2
$color-bg2: $color-gray3

$color-fg: $color-gray8

$color-accent-off: $color-blue
$color-accent: $color-blue-dark
