/* Base colors */

$color-gray1: #101010
$color-gray2: #323232
$color-gray3: #545454
$color-gray4: #767676
$color-gray5: #989898
$color-gray6: #bababa
$color-gray7: #dcdcdc
$color-gray8: #fefefe

$color-blue-light: #bbdefb
$color-blue: #2196f3
$color-blue-dark: #0d47a1

$color-green: #4caf50


/* Theme colors */

$color-bg: $color-gray8

$color-fg: $color-gray1

$color-accent: $color-blue
$color-accent-off: $color-blue-dark
