// Global

$color-bg: black
$color-fg: white

body
  background-color: $color-bg
  color: $color-fg
  font-size: 10pt

.center
  text-align: left

//h1, h2, h3
//  margin: 1em .5em 0 0

h1
  text-align: left

hr
  display: none

blockquote, p, ul
  break-inside: avoid


// Header

#header
  display: none


// Content

#content
  width: 100%
  margin: 0
  padding: 0

#personal-intro
  display: block

#personal-photo
  width: 120px

@page
  size: letter
  margin: 1cm
