@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap')

body
  font-family: "EB Garamond", serif;
  font-size: 11pt

a
  color: inherit

h1, h2, h3
  margin: 0

p
  margin: 0.5em 0

blockquote
  margin: 0 20px

.subsection
  break-inside: avoid

#home, #sections
  display: none

#header
  width: auto
  height: auto
  position: relative
  right: 0px
  float: right
  align-items: right

#profiles
  .logo-link
    display: block
    svg
      width: 1em
    &::after
      content: attr(alt)
      margin: 0.5em

#personal-photo
  float: left
  width: 120px
  margin-right: 10px

.section
  margin: 10px 0 0 0
  padding: 0

.section-header
  text-decoration: underline

.section-divider
  display: none

.subsection:not(.resume)
  display: none

@page
  size: letter
  margin: 1in
