@import colors


// Global

body
  background-color: $color-bg
  color: $color-fg
  margin: 0
  font-family: 'Fira Code', monospace
  font-weight: 400

.center
  text-align: center

a
  text-decoration: none
  font-weight: 700
  color: $color-accent-off
  &:hover, &:focus, &:active
    color: $color-accent

h1, h2, h3
  margin: 1em .2em

h1
  text-transform: uppercase
  text-align: center

h2, h3
  display: inline-block

blockquote
  border-left: 2px solid $color-accent-off
  margin-left: 1em
  padding-left: 1em

nav
  width: 90%
  margin: auto
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 1.2em

// Header

$header-height: 48px

#header
  position: fixed
  width: 100%
  height: $header-height
  overflow: auto
  background-color: $color-gray1
  border-bottom: 1px solid rgba(0, 0, 0, .2)
  display: flex
  align-items: center

#home
  font-size: 1.25em
  color: $color-fg

#profiles
  .logo-link
    &:hover, &:focus, &:active
      .logo-svg
        fill: $color-accent

    svg
      width: 1.2em
      margin: 0 .5em

    .logo-svg
      fill: $color-fg


// Content

#content
  margin: auto
  padding-top: $header-height

#personal-intro
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

#personal-photo
  max-width: 100%
  border-radius: 50%

.section
  padding: 2em 8%
  background-color: $color-bg2

.subsection
  padding: 1em 2%

.bg1
  background-color: $color-bg

.bg2
  background-color: $color-bg2

button
  font-size: 100%
  font-family: inherit
  border: 0
  padding: 0 2em
  background-color: inherit

  color: $color-fg
  &:hover, &:focus
    color: $color-accent

.selected-section-button
  background-color: $color-bg2
  color: $color-accent-off

#education, #work
  display: none

details
  summary:hover
    background-color: $color-gray1
