@font-face {
	font-family: 'Iosevka Extended';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/iosevka/extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Extended';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/iosevka/extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Extended';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/iosevka/extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Extended';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('/fonts/iosevka/extendedbolditalic.woff2') format('woff2');
}
