/* Base colors */

$gray1: #101010;
$gray2: #212121;
$gray3: #323232;
$gray4: #434343;

$gray5: #cbcbcb;
$gray6: #dcdcdc;
$gray7: #ededed;
$gray8: #fefefe;

$blue-dark: #0d47a1;
$blue: #2196f3;

$green: #4caf50;

/* Theme colors */

$bg-dark: $gray1;
$bg: $gray2;
$bg-light: $gray3;

$fg: $gray7;

$accent-dark: $blue-dark;
$accent: $blue;
