<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400+700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="print" href="print.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  </head>

  <body>
    <div id="header">
      <nav>
        <a id="home" href="#">{{ config.title | upper }}</a>

        <div id="profiles">
          <a class="logo-link" href="mailto:{{ config.extra.username }}@gmail.com"
                               alt="{{ config.extra.username }}@gmail.com">
            {% include "logos/email.html" %}
          </a>
          <a class="logo-link" href="https://stackoverflow.com/users/3337070/{{ config.extra.username }}"
                               alt="{{ config.extra.username }}">
            {% include "logos/stackoverflow.html" %}
          </a>
          <a class="logo-link" href="https://github.com/{{ config.extra.username }}"
                               alt="{{ config.extra.username }}">
            {% include "logos/github.html" %}
          </a>
          <a class="logo-link" href="tel:+41764795073"
                               alt="+41 76 479 50 73">
            {% include "logos/phone.html" %}
          </a>
        </div>
      </nav>
    </div>

    <div id="content">
      {% block content %}
      {{ section.content | safe }}
      {% endblock content %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
