{% extends "base.html" %} {% block content %}

<div id="personal-intro">
  <div>
    <img
      id="personal-photo"
      src="images/{{ about.image }}"
      alt="Personal Photo"
    />
    <h1>{{ about.name }}</h1>
    {{ about.description | safe }}
  </div>
</div>

<ul id="work_experience" class="section">
  <h2 class="section-header">Work Experience</h2>

  {% for entry in about.work_experience %}
  <li
    class="subsection{% if entry.exclude_from_resume %} exclude-from-resume{% endif %}"
  >
    <h2>
      {{ entry.title }} at
      <a href="{{ entry.link | safe }}">{{ entry.organization }}</a>
    </h2>
    <blockquote class="entry-info">
      <span class="entry-skills">{{ entry.skills }}</span>
      <span class="entry-duration"
        >{{ entry.start_date | date(format="%b %Y") }} - {% if entry.end_date
        %}{{ entry.end_date | date(format="%b %Y") }}{% else %}Present{% endif
        %}</span
      >
      <span class="entry-location">{{ entry.location }}</span>
    </blockquote>
    {{ entry.description | safe }}
  </li>
  {% endfor %}
</ul>

<ul id="projects" class="section">
  <h2 class="section-header">Projects</h2>

  {% for entry in about.projects %}
  <li
    class="subsection{% if entry.exclude_from_resume %} exclude-from-resume{% endif %}"
  >
    <h2>
      <a href="{{ entry.link | safe }}">{{ entry.name }}</a>
    </h2>
    <blockquote class="entry-info">
      <span class="entry-skills">{{ entry.skills }}</span>
      <span class="entry-duration"
        >{{ entry.start_date | date(format="%b %Y") }} - {% if entry.end_date
        %}{{ entry.end_date | date(format="%b %Y") }}{% else %}Present{% endif
        %}</span
      >
    </blockquote>
    {{ entry.description | safe }}
  </li>
  {% endfor %}
</ul>

<ul id="education" class="section">
  <h2 class="section-header">Education</h2>

  {% for entry in about.education %}
  <li
    class="subsection{% if entry.exclude_from_resume %} exclude-from-resume{% endif %}"
  >
    <h2>
      <a href="{{ entry.link | safe }}">{{ entry.school }}</a>
    </h2>
    <h3>({{ entry.degree }})</h3>
    <blockquote class="entry-info">
      <span class="entry-tagline">{{ entry.tagline }}</span>
      <span class="entry-duration"
        >{{ entry.start_date | date(format="%b %Y") }} - {% if entry.end_date
        %}{{ entry.end_date | date(format="%b %Y") }}{% else %}Present{% endif
        %}</span
      >
      <span class="entry-location">{{ entry.location }}</span>
    </blockquote>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
